@keyframes row-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Marquee Row Setup */
.marquee-row {
  @apply w-full overflow-hidden relative z-0;
}

.marquee-row::before,
.marquee-row::after {
  content: "";
  @apply absolute top-0 h-full w-12 z-10;
}

/* Light Mode Gradient */
.marquee-row::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.marquee-row::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

/* Dark Mode Gradient (Using Tailwind's Dark Modifier) */
.dark .marquee-row::before {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.dark .marquee-row::after {
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Marquee Content */
.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: row-marquee linear infinite;
  z-index: 0;
}

.marquee-content > * {
  flex-shrink: 0;
  z-index: 0;
}

/* Different animation speeds for each row */
.marquee-row.row1 .marquee-content {
  animation-duration: 30s;
}

.marquee-row.row2 .marquee-content {
  animation-duration: 25s;
}

.marquee-row.row3 .marquee-content {
  animation-duration: 20s;
}

/* Prompt Item Styling */
.prompt-item {
  @apply border border-gray-300 p-3 rounded-md mr-1 cursor-pointer transition-transform duration-200 ease-in-out;
  z-index: 0;
}

.prompt-item {
  background-color: rgba(255, 255, 255, 0.1); /* Light mode background */
}

/* Dark mode for Prompt Item */
.dark .prompt-item {
  border-color: #4b5563; /* Dark mode border color */
  color: #d1d5db; /* Light gray text */
  background-color: rgba(255, 255, 255, 0.1); /* Dark mode active background */
}

/* Active click effect */
.prompt-item:active {
  transform: scale(0.95);
  background-color: rgba(0, 0, 0, 0.1);
}

.dark .prompt-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}
